# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/
/storybook-static/
.swc

# production
/build

# misc
.DS_Store
*.pem
.vscode

# debug
.pnpm-debug.log*

# env files
.env
.env.production
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*storybook.log
