@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 360 100% 100%;
    --foreground: 240 20% 12%;

    --card: 240 92% 94%;
    --card-foreground: 210 8% 6%;

    --popover: 240 80% 88%;
    --popover-foreground: 240 20% 12%;

    --primary: 260 100% 69%;
    --primary-foreground: 260 40% 100%;

    --secondary: 240 50% 82%;
    --secondary-foreground: 240 25% 13%;

    --muted: 240 40% 72%;
    --muted-foreground: 240 35% 13%;

    --accent: 180 75% 65%;
    --accent-foreground: 180 45% 10%;

    --destructive: 339 100% 65%;
    --destructive-foreground: 330 35% 30%;

    --border: 240 80% 90%;
    --input: 240 85% 94%;
    --ring: 240 90% 98%;

    --chart-1: 50 100% 65%;
    --chart-2: 145 60% 70%;
    --chart-3: 180 75% 65%;
    --chart-4: 340 100% 80%;
    --chart-5: 339 100% 65%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 249 22% 12%;
    --foreground: 245 50% 91%;

    --card: 247 23% 15%;
    --card-foreground: 245 50% 91%;

    --popover: 248 25% 18%;
    --popover-foreground: 245 50% 91%;

    --primary: 267 57% 78%;
    --primary-foreground: 249 22% 12%;

    --secondary: 248 15% 61%;
    --secondary-foreground: 249 22% 12%;

    --muted: 249 19% 65%;
    --muted-foreground: 249 22% 12%;

    --accent: 189 43% 73%;
    --accent-foreground: 249 22% 12%;

    --destructive: 343 76% 68%;
    --destructive-foreground: 249 22% 12%;

    --border: 244 18% 15%;
    --input: 249 15% 28%;
    --ring: 248 13% 36%;

    --chart-1: 35 88% 72%;
    --chart-2: 197 49% 38%;
    --chart-3: 189 43% 73%;
    --chart-4: 2 55% 83%;
    --chart-5: 343 76% 68%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
