@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 360 100% 100%;
    --foreground: 240 20% 12%;

    --card: 240 92% 94%;
    --card-foreground: 210 8% 6%;

    --popover: 240 80% 88%;
    --popover-foreground: 240 20% 12%;

    --primary: 260 100% 69%;
    --primary-foreground: 260 40% 100%;

    --secondary: 240 50% 82%;
    --secondary-foreground: 240 25% 13%;

    --muted: 240 40% 72%;
    --muted-foreground: 240 35% 13%;

    --accent: 180 75% 65%;
    --accent-foreground: 180 45% 10%;

    --destructive: 339 100% 65%;
    --destructive-foreground: 330 35% 30%;

    --border: 240 80% 90%;
    --input: 240 85% 94%;
    --ring: 240 90% 98%;

    --chart-1: 50 100% 65%;
    --chart-2: 145 60% 70%;
    --chart-3: 180 75% 65%;
    --chart-4: 340 100% 80%;
    --chart-5: 339 100% 65%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;

    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;

    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;

    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;

    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;

    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;

    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;

    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;

    --input: 12 6.5% 15.1%;

    --ring: 24 5.7% 82.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
